@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Lisu+Bosa:wght@200&display=swap');


/* global styling */
body {
    font-family: "Lisu Bosa", sans-serif;
    background-color: #28a745;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* To make the footer sticky */
}

header {
    background-color: #800080;
    text-align: center;
    padding: 1rem;
    border: 5px solid white;
    font-size: 200%;
    font-family: "Barriecito", sans-serif;
    height: 150px;
}

footer {
    background-color: #800080;
    text-align: center;
    padding: 1rem;
    border: 5px solid white;
    font-size: 180%;
    font-family: "Barriecito", sans-serif;
    height: 150px;
    margin-top: auto; /* Sticky footer */
}

section {
    text-align: center;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* buttons and username input */
button {
    border: 2px solid lightgrey;
    background-color: #800080;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    font-family: "Barriecito", sans-serif;
}

button:hover {
    background-color: #6b006b;
}

input[type="text"] {
    padding: 0.5rem;
    width: 80%;
    margin-top: 10px;
}

/* targeted styling */
footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    /* letter-spacing: 20px; */
}

footer h2 {
    margin-bottom: 20px;
}

/* question and result style */
input[type="radio"] {
    margin-right: 5px;
}

#questionScreen,
#resultScreen {
    background-color: #800080;
    border: 5px solid white;
    padding: 20px;
    text-align: left;
    color: white;
    font-family: "Lisu Bosa", sans-serif;
    font-size: 20px;
}


/* Media Queries */

/* Media query for screens up to 1200px wide */
@media screen and (max-width: 1200px) {
    header {
        font-size: 150%;
    }
    footer {
        font-size: 150%;
    }
}

/* Media query for screens up to 950px wide */
@media screen and (max-width: 950px) {
    header {
        font-size: 130%;
    }
    footer {
        font-size: 130%;
    }
    button {
        padding: 0.3rem 0.7rem;
    }
    input[type="text"] {
        width: 70%;
    }
}


/* Media query for screens up to 800px wide */
@media screen and (max-width: 800px) {
    header {
        font-size: 120%;
    }
    footer {
        font-size: 120%;
    }
    button {
        padding: 0.2rem 0.6rem;
    }
    input[type="text"] {
        width: 60%;
    }
}


/* Media query for screens up to 320px wide */
@media screen and (max-width: 320px) {
    header {
        font-size: 100%;
        max-height: 50vh;
    }
    footer {
        font-size: 130%;
        height: 100px;
        letter-spacing: normal;
    }
    button {
        font-size: 14px;
    }
    input[type="text"] {
        width: 50%;
        font-size: 70%;
    }
}